<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{post.title}}</title>
</head>
<body>
    <h1>{{post.title}}</h1>
    <p>{{post.content}}</p>
    <h2>Comments</h2>
    <ul>
        {{#each post.comments}}
        <li>{{this}}</li>
        {{/each}}
    </ul>
    <h3>Add a Comment</h3>
    <form method="post" action="/post/{{post.id}}/comment">
        <textarea name="comment" required></textarea><br>
        <button type="submit">Add Comment</button>
    </form>
    <hr>
    <a href="/post/{{post.id}}/edit">Edit</a> | <a href="/post/{{post.id}}/delete">Delete</a>
</body>
</html>
